@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
@{ ViewBag.Title = "Admin"; }

<br />
<h2 class="text-center mb-2">Área Administrativa do sistema!</h2>

<hr /> 

<div class="row">

    <div class="col-lg-12 text-center">
        <p>Utilize a área administrativa para reliazar o cadastro de novos usuários no sistema e de novos itens à serem disponibilizados na loja. </p>
        <img src="~/img/adminLogo.png" />

    </div>
</div>


