@{ //Layout  = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@{ ViewBag.Title = "Home"; }

<section class="row" style="margin-bottom: 30px;">
    
    <div class="col-lg-6 col-md-12 col-sm-12">
        
        <img class="img-fluid" src="~/img/FotoRestaurante.jpg" height="790" alt="">

    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <h1 class="text-center my-4">Cafeteria São Paulo</h1>
        <p class="card-text">
            O <strong>Café São Paulo</strong> pode ser considerada uma cafeteria
            temática,
            isso porque todo o
            conceito da
            cafeteria foi pensado para unir dois elementos: botânica e café e ao entrar na cafeteria
            sentimos
            uma
            ótima energia, um ambiente calmo, aconchegante e com muitas plantas.
        </p>
        <p class="card-text">
            O cardápio é bem extenso, com diversas opções de cafés e bebidas, lanches rápidos, saladas,
            brunch e
            até
            almoço e jantares, além das sobremesas, que contam com brownie, tortas como a banoffee
            (torta de
            banana)
            um dos carros chefes da cafeteria, sorvetes, cookies e as sobremesas do dia
            São 3 unidades em São Paulo: uma na Av. Magalhães de Castro, 286 – Butantã, outra na Alameda
            Lorena,
            1765 – Jardins e a última na Rua Padre Garcia Velho, 56 – Pinheiros. Seu pet é
            bem-vindo!
        </p>
    </div>
</section>