
@{ //Layout  = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@{ ViewBag.Title = "Home"; }

<section class="row">

    <h1 class="text-center my-4">Bebidas Geladas</h1>
    <div class="col-lg-2  ">
        <img class="img-fluid" src=" ../img/chá gelado de limão.jpg" alt="">
        <h4 class="text-center">Chá de laranja com Hortelã</h4>
    </div>
    <div class="col-lg-2 ">
        <img class="img-fluid" src=" ../img/chá gelado de pêssego.jpg" alt="">
        <h4 class="text-center">Chá de pessego gelado</h4>
    </div>
    <div class="col-lg-2 ">
        <img class="img-fluid" src="../img/frape sujintela.jpg" alt="">
        <h4 class="text-center">Milk Shake de chocolate</h4>
    </div>
    <div class="col-lg-2 ">
        <img class="img-fluid" src="../img/spritz spaice mango.jpg" alt="">
        <h4 class="text-center">Chá de pessego com hortelã</h4>
    </div>
    <div class="col-lg-2 ">
        <img class="img-fluid" src="../img/spritz de mara cujá.jpg" alt="">
        <h4 class="text-center">Suco de maracujá com hortelã</h4>
    </div>
    <div class="col-lg-2 ">
        <img class="img-fluid" src="../img/chá gelado de limão.jpg" alt="">
        <h4 class="text-center">Chá gelado com limão</h4>
    </div>

</section>
