
@{ //Layout  = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@{ ViewBag.Title = "Home"; }

<section class="row">
        
    <h1 class="text-center my-4">Bebidas Quentes</h1>
    <div class="col-lg-2  ">
        <img class="img-fluid" src="../img/café mocha.jpg" alt="">
        <h4 class="text-center">Mocha</h4>
    </div>
    <div class="col-lg-2 ">
        <img class="img-fluid" src="../img/chás importados.jpg" alt="">
        <h4 class="text-center">Chas Importados</h4>
    </div>
    <div class="col-lg-2 ">
        <img class="img-fluid" src="../img/expresso.jpg" alt="">
        <h4 class="text-center">Expresso</h4>
    </div>
    <div class="col-lg-2 ">
        <img class="img-fluid" src="../img/expresso.jpg" alt="">
        <h4 class="text-center">Expresso</h4>
    </div>
    <div class="col-lg-2 ">
        <img class="img-fluid" src="../img/café mocha.jpg" alt="">
        <h4 class="text-center">Mocha</h4>
    </div>
    <div class="col-lg-2 ">
        <img class="img-fluid" src=" ../img/chás importados.jpg" alt="">
        <h4 class="text-center">Chas Importados</h4>
    </div>

</section>
