
@{ //Layout  = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@{ ViewBag.Title = "Home"; }
  
<section class="row">

    <h1 class="text-center my-4">Doces </h1>
    <div class="col-lg-2 text-center ">
        <img class="img-fluid" src="../img/mil folhas.jpg" alt="">
        <h4 class="text-center">Açai</h4>
    </div>
    <div class="col-lg-2 text-center ">
        <img class="img-fluid" src="../img/trouxinha de maçã.jpg" alt="">
        <h4 class="text-center">Trouxinha de maçã</h4>
    </div>
    <div class="col-lg-2 text-center ">
        <img class="img-fluid" src="../img/Pudim Sonho.jpg" alt="">
        <h4 class="text-center">Pudim de leite moça</h4>
    </div>
    <div class="col-lg-2 text-center">
        <img class="img-fluid" src="../img/Rabanada.jpg" alt="">
        <h4 class="text-center">Rabanada</h4>
    </div>
    <div class="col-lg-2 text-center">
        <img class="img-fluid" src="../img/Pretezel.jpg" alt="">
        <h4 class="text-center">Pretezel</h4>
    </div>
    <div class="col-lg-2 text-center">
        <img class="img-fluid" src="../img/croissant recheado.jpg" alt="">
        <h4 class="text-center">Croissant</h4>
    </div>


</section>