
@{ //Layout  = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@{ ViewBag.Title = "Home"; }

<section class="row">

    <h1 class="text-center my-4">Salgados</h1>
    <div class="col-lg-2  ">
        <img class="img-fluid" src="../img/croquete.jpg" alt="">
        <h4 class="text-center">Croquete</h4>
    </div>
    <div class="col-lg-2 ">
        <img class="img-fluid" src="../img/coxinha de frango.jpg" alt="">
        <h4 class="text-center">Coxinha de frango</h4>
    </div>
    <div class="col-lg-2 ">
        <img class="img-fluid" src="../img/Esfiha.jpg" alt="">
        <h4 class="text-center">Esfiha</h4>
    </div>
    <div class="col-lg-2 ">
        <img class="img-fluid" src="../img/folhado de parmesão.jpg" alt="">
        <h4 class="text-center">Folhado de Parmesão</h4>
    </div>
    <div class="col-lg-2 ">
        <img class="img-fluid" src="../img/Pastel de Belem.jpg" alt="">
        <h4 class="text-center">Pastel de Belem</h4>
    </div>
    <div class="col-lg-2 ">
        <img class="img-fluid" src="../img/croissant recheado.jpg" alt="">
        <h4 class="text-center">Croissant</h4>
    </div>
    

</section>
